---
title: "Acerca de..."
---
{% extends "layouts/default.njk" %}

{% block content %}

<body>
    <main class="">
        <div class="bg-brownbutton p-0.5"></div>

        <div class="h-screen sm:pb-48 md:pb-52 lg:pb-96"
            style="  
            
                background: url(https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1200,c_fill,f_auto/site/Pages/About/Tracksmith-2130.jpg) no-repeat center center; background-size: cover;height: 100%;">

            {% include "partials/top.njk" %}
            <div class=" sm:pb-48 md:pb-52 lg:pb-96"></div>
        </div>

        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-20" style="max-width: 50%;">
                    <img
                        src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,q_85,dpr_2.0,b_rgb:fffff3,w_800,c_fill,f_jpg/site//Pages/About/About-Champion.png">
                        <div class="flex justify-center items-center">
                    <p class="text-gray-500 text-base text-center w-8/12">Tracksmith is an independent running brand. We honor the
                        Amateur Spirit upon which the sport was founded and champion the Running Class – the
                        non-professional yet competitive runners dedicated to the pursuit of personal excellence. We
                        offer well-considered and authentic products for training, racing and recovery. In everything we
                        do, we aim to celebrate, support and add to running’s distinct culture.</p>
                    </div>
                </div>
            </div>
        </section>
        <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_960,c_fill,f_auto/site/Pages/About/Tracksmith_BG2A4536.jpg"
            style="width:100%">

        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-20" style="max-width: 50%;">
                    <img
                        src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,q_85,dpr_2.0,b_rgb:fffff3,w_800,c_fill,f_jpg/site//Pages/About/About-Crest.png">
                    <div class="flex justify-center items-center">
                        <h1 class="text-center sm:text-xl lg:text-3xl uppercase mb-2 w-7/12">it's all in the name</h1>
                    </div>
                    <div class="flex items-center justify-center mt-4">
                    <p class="text-gray-500 text-base w-8/12 text-center">"TRACK” is a symbol of commitment to training and racing,
                        while “SMITH” represents dedication to a specialized craft - an obsession with quality and
                        function.

                    </p>
                </div>
                </div>
            </div>
        </section>
        <img
            src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_960,c_fill,f_auto/site/Pages/About/Tracksmith-SS15-5616-copy.jpg" style="width: 100%;">
        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-20" style="max-width: 75%;">
                    <div class="flex justify-center items-center">
                    <img
                        src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,q_85,dpr_2.0,b_rgb:fffff3,w_800,c_fill,f_jpg/site//Pages/About/About-Hare.png"style="width: 50%;">
                    </div>
                    <h1 class="uppercase text-center sm:text-2xl lg:text-5xl mt-10 mb-8">the hare</h1>
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-gray-500  text-center w-5/12 text-base">Our logo, the hare, is an animal that relies upon
                            its speed.
                            Not as a predator, but as a survivor. The hare is a runner’s runner. The timeless object of
                            the
                            chase. In folklore and mythology the hare is often portrayed as the trickster: quick-witted,
                            outsmarting his opponents at every opportunity.
                        </p> <br>
                        <p class="text-gray-500  text-center w-5/12 text-base">Likewise, Tracksmith is a challenger. Without the
                            size or scale most brands enjoy, we rely on
                            our ingenuity. We are small, so we need to be nimbler, quicker and craftier.
                        </p><br>
                        <p class="text-gray-500  text-center w-5/12 text-base">When we started Tracksmith, we commissioned
                            British illustrator Gary Chalk to create the
                            original hand-drawn illustration of our hare. We affectionately named him, “Eliot,” as a
                            tribute
                            to the legendary Eliot Lounge in Boston.</p>
                    </div>
                </div>
            </div>
        </section>
        <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_960,c_fill,f_auto/site/Pages/About/Tracksmith-FW14-2670.jpg" style="width: 100%;">

        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-16" style="max-width: 75%;">
                    <div class="flex justify-center items-center">
                    <h1 class=" uppercase text-center sm:text-2xl lg:text-5xl mb-8 w-5/12">new england born & bred</h1>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-gray-500 text-base text-center w-5/12">Tracksmith was founded in New England. We live here, we work here and we race here. We relish everything New England means to running and to us. This place, and its historical significance to our sport, are at the core of our identity.
                        </p> <br>
                        <p class="text-gray-500 text-base text-center w-5/12 ">When we launched in 2014, we set up shop in Wellesley, MA at the halfway point of the Boston Marathon. In 2017, we moved 13.1 miles down the course to 285 Newbury Street. Our first permanent retail store, the Trackhouse is a community hub for runners.
                        </p><br>
                        
                    </div>
                </div>
            </div>
        </section>
        <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_960,c_fill,f_auto/site/Pages/About/Tracksmith_SS17_RaceWomen0738.jpg" style="width: 100%;">
        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-16" style="max-width: 75%;">
                    <div class="flex justify-center items-center">
                    <h1 class=" uppercase text-center sm:text-2xl lg:text-5xl mb-8 w-8/12">race day is sacred</h1>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-gray-500  text-center w-5/12 text-base">We believe in competition and the meritocracy of racing. Not because winning and losing are particularly important, but because competition sends us on an innately human journey. The profound physical and mental demands of training and racing lead to a richer and more sensitive and thrilling life. They make us better human beings.
                        </p> <br>
                        
                    </div>
                </div>
            </div>
        </section>

        <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_960,c_fill,f_auto/site/Pages/How-We-Work/Tracksmith-0740.jpg" alt="imagenCostura" style="width: 100%;">
        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-16" style="max-width: 75%;">
                    <div class="flex justify-center items-center">
                    <h1 class=" uppercase text-center sm:text-2xl lg:text-5xl mb-8 w-8/12">how we work</h1>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-gray-500  text-center w-5/12 text-base">
                            We make products for runners committed to the personal pursuit of excellence. 
                            We work tirelessly to produce the highest quality running apparel on the market and to create a community for committed runners. For more on our process and values, <a href="#" class="text-brownbutton underline">click here.</a>
                        </p> <br>
                        
                    </div>
                </div>
            </div>
        </section>
        <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_960,c_fill,f_auto/site/Pages/Alumni-Championships/Tracksmith_MAYE0025.jpg" alt="corriendo" style="width: 100%;">
        <section>
            <div class="bg-backgroundMain flex justify-center items-center " style="height: 100%;">
                <div class="my-16" style="max-width: 75%;">
                    <div class="flex justify-center items-center">
                    <h1 class=" uppercase text-center sm:text-2xl lg:text-5xl mb-8 w-8/12">come run with us</h1>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-gray-500  text-center w-5/12 text-base">
                            We’d love to hear from you or, better yet, run with you. 
                            You can visit us at the  <a href="#" class="text-brownbutton underline">Trackhouse</a>,285 Newbury Street in Boston's Back Bay. 
                            Or reach out to the team at <a href="#" class="text-brownbutton underline">support@tracksmith.com.</a> FAQ's can be found <a href="#" class="text-brownbutton underline">here.</a>

                        </p> <br>
                        <p class="text-gray-500  text-center w-5/12 text-base">Interested in working at Tracksmith?
                        We love to hear from those who embody our passion for running and are driven by a competitive spirit. Current openings are listed 
                        <a href="#" class="text-brownbutton underline">here.</a></p><br>
                        <p class="text-gray-500  text-center w-5/12 text-base">For media inquiries please email  <a href="#" class="text-brownbutton underline">press@tracksmith.com.</a></p>
                        
                    </div>
                </div>
            </div>
        </section>
        {% include "partials/newsletter.njk" %}
        {% include "partials/footer.njk" %}
    </main>
    {% endblock %}