---
pagination:
 data: productos
 size: 1
 alias: item
permalink: "productos/{{ item.nombre | slug }}/"
---
{% extends "layouts/default.njk" %}

{% block content %}



<div class="bg-brownbutton p-0.5"></div>
<div class=" h-screen"
    style="

            background: url(https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1700,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_0626.jpg) no-repeat center center; background-size: cover">
    {% include "partials/top.njk" %}
</div>
<div class="bg-backgroundMain max-w-full min-h-full">


    <div class="grid grid-cols-1 content-center sm:grid-cols-1 md:grid-cols-2 pb-20">
        <div class="flex items-center justify-center mt-20">

            <div class="flex justify-center items-center float-left container mx-auto">
                <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,q_auto,dpr_1.5,h_1240,w_1240,b_rgb:fffff3,c_fill,f_auto/store/products/Fall20-Mens-Franklin-Fleece-Navy.png?v=1605582471"
                    style="background-size:cover;max-height:70%;max-width: 70%;">

            </div>



        </div>

        <div class="grid grid-cols-1 content-center sm:grid-cols-1  justify-center items-center ">
            <div class=" pt-32 pb-6 text-center">
                <h1 class=" py-5 text-brownbutton text-5xl">€ 130</h1>
                <h1 class="py-5 px-5 sm:text-3xl md:text-5xl">FRANKLIN FLEECE</h1>
                <p class="text-xs text-gray-600 py-5 px-5">A Portatec Fleece Winter Running Jacket</p>
                <p id="texto" class="uppercase text-gray-300">color:navy</p>
                <ul id="contenedor" class="flex items-center justify-center mt-10 ">
                   
                    <button onclick="cambiar(1)" class=" py-5 px-5 bg-black"></button>
                    <button onclick="cambiar(2)" class=" py-5 px-5 bg-yellow-800"></button>
                    <button onclick="cambiar()" class=" py-5 px-5 bg-gray-400"></button>


            </div>

            <script>
                function cambiar(e) {
                    let contenedor=document.getElementById("contenedor");
                    let parrafo=document.getElementById("texto");
                    if (e==1){
                        parrafo.innerText='color:navy';
                    } else if (e==2){
                        parrafo.innerText='color:expresso';    
                    }else{
                        parrafo.innerText='color:dark gray'; 
                    }

                }
            </script>
            </ul>
            <p id="textoTallas" class="uppercase text-gray-300 text-center mb-1">S</p>
            <div id="contenedorTallas" class="flex  items-center justify-center">
                
                <!-- <button onclick="cambiarTallas(1)" class="border-2 border-r py-2 px-4 border-textcolorP">S</button>
                <button onclick="cambiarTallas(2)" class="border-2 border-l border-r py-2 px-4 border-textcolorP">M</button>
                <button onclick="cambiarTallas(3)" class="border-2 border-l border-r py-2 px-4 border-textcolorP">L</button>
                <button onclick="cambiarTallas()" class="border-2 border-l py-2 px-4 border-textcolorP">XL</button> -->

                {% for size in item.sizes %}
                
                <button data-size="{{size}}" class="size-selector border-2 border-l border-r py-2 px-4 border-textcolorP">{{size}}</button>
                
                {% endfor %}



            </div>
            <script>
                let sizeButtons = document.querySelectorAll(".size-selector");

                sizeButtons.forEach(element => {
                    let size = element.dataset.size;
                    console.log(size);
                    element.onmouseover = function(event) {
                        alert(size) 
                    }
                });

                // function cambiarTallas(e) {
                //     let contenedor=document.getElementById("contenedorTallas");
                //     let parrafo=document.getElementById("textoTallas");
                //     if (e==1){
                //         parrafo.innerText='S';
                //     } else if (e==2){
                //         parrafo.innerText='M';    
                //     }else if (e==3){
                //         parrafo.innerText='L'; 
                //     }
                //     else{
                //         parrafo.innerText='XL'; 
                //     }
                // }
            </script>
            <div class="mt-10 flex justify-center">
                <button class=" py-5 px-5 uppercase text-white bg-brownbutton">
                    <p>add to cart</p>
                </button>
            </div>
        </div>

    </div>

    <div class=" sm:flex flex-col-1 md:flex flex-row justify-center items-center sm:space-x-5 md:space-x-10 border-gray-400 border-b  mx-auto"
        style="max-width:80%">
        <button class="text-center pb-10 uppercase">description</button>
        <button class="border-gray-400 border-l  uppercase pb-10 pl-10">features</button>
        <button class="border-gray-400 border-l  uppercase pb-10 pl-10">fabric & care </button>


    </div>
</div>


</div>
<section>

    <div class="flex justify-center items-center relative"
        style="background: url(https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1200,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_0602.jpg) no-repeat center center;background-size:cover ;width: 100%;height:66vw">

        <h4 class="uppercase text-white bottom-4  absolute pb-8">Ruben is 6' and wears a size Medium.</h4>

    </div>

</section>
<section>
    <div class=" text-white grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 ">
        <div class=" flex justify-center items-center "
            style="background: url(https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_800,h_600,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_1158.jpg) no-repeat center center;background-size:cover ;width: 100%;">

            <div class="py-64 text-center ">

            </div>
        </div>
        <div class=" flex justify-center items-center"
            style="background: url(https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_800,h_600,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_0229.jpg) no-repeat center center;background-size:cover;width: 100%;">
            <div class=" py-64 text-center">

            </div>
        </div>
    </div>
</section>


<div class=" bg-backgroundMain flex flex-col ">
    <div class="flex flex-col justify-center items-center overflow-hidden">

        <h3 class=" text-center sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl pt-24 w-3/12 uppercase mt-10">
            double down</h3><br />
        <p class="text-center w-4/12 sm:mb-20 mb-40 md:mb-40 text-textcolorP text-base">Spring is a hopeful season.
            On a cold morning, the warmth of a cozy fleece can be all that gets you out the door. But problems arise
            when the pace quickens and your body heat rises, since traditional fleeces aren’t made for running fast. We
            designed the Franklin Fleece with these varying conditions and thermal outputs in mind, mixing strategically
            mapped materials for zoned ventilation and weather protection. The first performance fleece designed
            specifically for running: take it when you need some of the coziness of home, and keep it on as you negative
            split your way back.</p>
    </div>

    <img
        src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1200,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Franklin-fleece-detail3039.jpg">

    <div class="flex flex-col justify-center items-center overflow-hidden">

        <h3 class="text-center sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl pt-24 w-6/12 uppercase">
            working together</h3><br />
        <p class="text-center w-4/12 sm:mb-20 mb-40 md:mb-40 text-textcolorP text-base">On its own, fleece would be too
            warm for fast running, even in the coldest conditions. So we combined it with breathable side panels that
            provide enhanced stretch while shaving weight. The result is the first-ever running fleece that delivers
            exceptional warmth across the core of the torso with flexible, breathable stretch panels where you need
            mobility and enhanced ventilation at higher speeds. The Franklin Fleece also includes a two-way zipper and
            two zippered side pockets.</p>
    </div>

</div>

<section class="bg-backgroundMain pt-8 pb-16 ">
    <div class="container mx-auto">
        <img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1200,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_0219.jpg"
            style="min-width: 80%;">
    </div>
</section>

<div class="bg-backgroundMain flex flex-col justify-center items-center overflow-hidden">

    <h3 class="text-center sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl pt-24 w-3/12 uppercase">
        andover innovation </h3><br />
    <p class="text-center w-4/12 sm:mb-20 mb-40 md:mb-40 text-textcolorP text-base ">In 1981, Massachusetts-based
        Polartec®
        first engineered polyester fibers into an innovative knit construction with a lofted fiber structure that
        created thermal air pockets to prevent heat loss and regulate core warmth. Their invention, known as polar
        fleece, transformed the industry and was the most durable and versatile insulation and outerwear fabric of its
        day. Continuously refined over forty years, this Okeo-Tex and Bluesign-certified fleece remains a cold-weather
        performance stalwart for its lightweight warmth and fast-drying characteristics. </p>
</div>
<img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1200,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_1070.jpg"
    style="width:100%">
<section class=" bg-backgroundMain py-8 pb-16">
    <div class=" flex flex-col justify-center items-center">

        <p class=" text-center w-4/12 text-textcolorP my-24 italic text-lg">“This fleece has been my go-to cozy layer
            after crisp fall runs. It’s warm and soft without being bulky—exactly what I want to put on when I come in
            the door. It’s designed to be breathable and flexible enough to run in, though, thanks to stretchy panels on
            the sides and under the arms. I usually err on the side of fewer layers while running in the cold, but I’m
            looking forward to testing it out once it gets frigid.”
            — Outside Magazine</p>
    </div>
</section>
<img src="https://res.cloudinary.com/tracksmith/image/upload/fl_lossy,dpr_1.5,q_auto,w_1200,c_fill,f_auto/site/Products/2020-Fall/M-Franklin-Fleece/Tracksmith_Boston_FW20_RubenEric_0984.jpg"
    style="width: 100%;">




{% include "partials/newsletter.njk" %}

{% include "partials/footer.njk" %}


{% endblock %}