{% extends "layouts/default.njk" %}

{% block content %}

<style>
    body {
        padding: 0;
        margin: 0;
    }

    .pepe1 {

        height: 300px;
        position: relative;
        z-index: 10;
        margin-bottom: 200px;
    }

    .pepe2 {
        height: 200px;

        width: 100%;
        z-index: 100;
    }
</style>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-2 my-20 md:ml-36 md:mr-36 ">
    {% for item in categorias %}
    {% for item in item.categories %}
    <div class="max-w-xs">
        <div class="flex items-center justify-center">
            <h1>Nombre: {{ item.nombre }}</h1>
        </div>
        <div class="flex items-center justify-center">
            <h2>Precio: {{ item.precio }}</h2>
        </div>
        <div class="flex items-center justify-center">
            <img src="{{ item.imagen}}" alt="{{ item.name }}" width="40%">
        </div>
        <div class="flex items-center justify-center mt-5 mb-5">

            {% for color in item.colors %}
            <button>
               <li class="card-zoom  py-1.5  px-3" style="background-color: {{color.color}}">{{color.name}}</li>
            </button>
            {% endfor %}

        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>

            
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-2 my-20 md:ml-36 md:mr-36 "></div>
                
                    {% for item in categorias %}
                    {% for item in item.categories %}
                    <div class="bg-red-600">
                    <!-- <a href="../franklin">-->
                    <div class="card-zoom flex items-center justify-center ">
                        <img class="card-zoom-image no-repeat  center center" src="{{item.imagen}}" alt="franklin"
                            style="background-size:cover; width:40%; max-width:100%">
                    </div>
                    <br />
                    <h4 class=" text-center sm:text-sm md:text-xl lg:text-2xl uppercase">{{item.nombre}}</h4>
                    <h2>abc</h2>
                    <br />
                    <!--<p class="text-brownbutton text-center text-2xl">
                        {{item.precio}}</p>-->

                    <!--<ul class="flex items-center justify-center mt-10">


                        <div class="flex items-center justify-center mt-5 mb-5">

                            {% for color in item.colors %}
                            <button>
                               <li class="card-zoom  py-1.5  px-3" style="background-color: {{color.color}}">{{color.name}}</li>
                            </button>
                            {% endfor %}

                        </div>

                    </ul>-->

                   
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        <script>

            window.nav = {
                status: false,
                menu: function () {
                    if (nav.status) {
                        // here put class when menu is open - eg:
                        document.getElementById("menu-box").className = "menu-box menuopen";
                        nav.status = false;
                    } else {
                        // here put class when menu is closed - eg:
                        document.getElementById("menu-box").className = "menu-box";
                        nav.status = true;
                    }
                }
            }



        </script>


        {% endblock %}