<footer class="bg-colorFooter pt-16  z-index:0">

        <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-16 overflow-hidden pb-10">

            <div class="text-white ml-10 sm:text-center lg:text-left">


                <div>
                    <p class="text-gray-700"> SERVICE</p>
                </div><br />
                <div>
                    <ul>
                        <li class=" hover:text-brownbutton"><a href="#">FAQS</a></li>
                        <li class=" hover:text-brownbutton"><a href="#">NEWSLETTERS</a></li>
                        <li class=" hover:text-brownbutton"><a href="#">RETURNS & EXCHANGES</a></li>
                        <li class=" hover:text-brownbutton"><a href="#">SUPPORT@TRACKSMITH.COM</a></li>
                        <li class=" hover:text-brownbutton"><a href="#">781.235.0027</a></li>
                    </ul>
                </div>


            </div>
            <div class="ml-10 hover:text-brownbutton text-white">
                <div>
                    <p class="text-gray-700">VISIT US</p>
                </div><br />
                <a href="#">

                    TRACKHOUSE
                    285 NEWBURY ST.
                    BOSTON, MA 02115
                </a>
            </div>
            <div class="ml-10 text-white">
                <div>
                    <p class="text-gray-700"> INFORMATION</p>
                </div><br />
                <div>
                    <ul>
                        <li class=" hover:text-brownbutton uppercase"><a href="#">careers</a></li>

                        <li class=" hover:text-brownbutton uppercase"><a href="#">terms & conditions</a></li>

                        <li class=" hover:text-brownbutton uppercase"><a href="#">privacy policy</a></li>

                        <li class=" hover:text-brownbutton uppercase"><a href="#">cookie policy</a></li>

                        <li class=" hover:text-brownbutton uppercase"><a href="#">do not sell</a></li>
                        <li class=" hover:text-brownbutton uppercase"><a href="#">
                                ACCESSIBILITY
                            </a> </li>
                    </ul>
                </div>
            </div>
            <div class="ml-10 hover:text-brownbutton text-white text-center">
                <div>
                    <p class="text-gray-700">REGION</p>
                </div><br />
                <a href="#">

                    Spain SPAIN (EUR)
                </a>
            </div>

        </div>
        <div class=" text-white container flex justify-center  items-center m-auto pb-12 ">
            <a class=" hover:bg-brownbutton hover:text-colorFooter rounded-full border-brownbutton border-2 w-8 h-8 "
                href="#">
                <svg class="fill-current" viewBox="0 0 30 30">
                    <path data-name="<Path>"
                        d="M22.109 10.591a5.883 5.883 0 0 1-1.675.459 2.932 2.932 0 0 0 1.282-1.614 5.857 5.857 0 0 1-1.853.706 2.918 2.918 0 0 0-5.046 1.994 2.987 2.987 0 0 0 .076.667A8.29 8.29 0 0 1 8.88 9.757a2.882 2.882 0 0 0-.395 1.466 2.916 2.916 0 0 0 1.3 2.428 2.913 2.913 0 0 1-1.321-.364v.036a2.919 2.919 0 0 0 2.34 2.862 2.957 2.957 0 0 1-1.317.05 2.921 2.921 0 0 0 2.723 2.025 5.858 5.858 0 0 1-3.623 1.248 6 6 0 0 1-.7-.04 8.3 8.3 0 0 0 12.772-6.989c0-.127 0-.252-.009-.378a5.928 5.928 0 0 0 1.456-1.511z">
                    </path>
                </svg>
            </a>
            <a class="hover:bg-brownbutton hover:text-colorFooter rounded-full border-brownbutton border-2 w-8 h-8 ml-5 "
                href="#">
                <svg class="fill-current" viewBox="0 0 30 30">
                    <path
                        d="M18.691 7.992v2.256H17.35c-1.051 0-1.248.5-1.248 1.231v1.615h2.5l-.333 2.53H16.1v6.486h-2.613v-6.486h-2.179v-2.53h2.179v-1.863a3.049 3.049 0 0 1 3.256-3.341 16.847 16.847 0 0 1 1.949.1z">
                    </path>
                </svg>
            </a>
            <a class="hover:bg-brownbutton hover:text-colorFooter rounded-full border-brownbutton border-2 w-8 h-8 ml-5 "
                href="#">
                <svg class="fill-current" viewBox="0 0 30 30">
                    <path
                        d="M17.5 15a2.5 2.5 0 1 0-2.5 2.5 2.5 2.5 0 0 0 2.5-2.5zm1.347 0A3.847 3.847 0 1 1 15 11.153 3.843 3.843 0 0 1 18.847 15zm1.053-4a.9.9 0 1 1-.9-.9.9.9 0 0 1 .9.9zM15 8.848a16.577 16.577 0 0 0-4.424.3 2.555 2.555 0 0 0-1.426 1.428A16.577 16.577 0 0 0 8.848 15a16.577 16.577 0 0 0 .3 4.424 2.555 2.555 0 0 0 1.426 1.426 16.577 16.577 0 0 0 4.424.3 16.577 16.577 0 0 0 4.424-.3 2.555 2.555 0 0 0 1.426-1.426 16.577 16.577 0 0 0 .3-4.424 16.577 16.577 0 0 0-.3-4.424 2.555 2.555 0 0 0-1.425-1.426A16.577 16.577 0 0 0 15 8.848zM22.5 15c0 1.035.01 2.061-.049 3.1a4.46 4.46 0 0 1-1.211 3.14 4.457 4.457 0 0 1-3.14 1.211c-1.035.059-2.061.049-3.1.049s-2.061.01-3.1-.049a4.46 4.46 0 0 1-3.14-1.211 4.457 4.457 0 0 1-1.211-3.14C7.491 17.061 7.5 16.035 7.5 15s-.01-2.061.049-3.1A4.46 4.46 0 0 1 8.76 8.76a4.457 4.457 0 0 1 3.14-1.211c1.039-.058 2.065-.049 3.1-.049s2.061-.01 3.1.049a4.46 4.46 0 0 1 3.14 1.211 4.457 4.457 0 0 1 1.211 3.14c.058 1.039.049 2.065.049 3.1z">
                    </path>
                </svg>
            </a>
            <a class="hover:bg-brownbutton hover:text-colorFooter rounded-full border-brownbutton border-2 w-8 h-8  ml-5"
                href="#">
                <svg class="fill-current" viewBox="0 0 30 30">
                    <path opacity=".5"
                        d="M17.328 19.413l-1.496-3.127H13.65l3.689 7.711 3.653-7.711h-2.187l-1.476 3.127">
                    </path>
                    <path d="M15.878 16.282h2.91L13.87 6 9 16.282h2.915l1.969-4.169z"></path>
                </svg>
            </a>

        </div>
        
        <div class="bg-brownbutton flex items-center justify-center">
            <a class="py-5 px-2 bg-white"></a>
            <a class="py-5 px-5 bg-red-600 "></a>
            <a class="py-5 px-2 bg-white"></a>
        </div>
        
    </footer>